body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding: 24px 0;
}

.page-header .container {
  display: flex;
  width: 1158px;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 12px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  /* padding: 24px 0; */
}

.logo {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.logo-studio {
  color: #2e2f42;
}

.logo-studio:focus {
  color: #404bbf;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.item-ref {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
  transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.item-ref:focus,
.item-ref:hover {
  color: #404bbf;
}

.active-link {
  position: relative;
  color: #404bbf;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link::after {
  position: absolute;
  width: 100%;
  height: 4px;
  content: '';
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: #404bbf;
}

.page-header-container {
  display: flex;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.contacts-list-item {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts li a:hover,
.contacts li a:focus {
  color: #404bbf;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.page-main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: block;
  background: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:active,
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  cursor: pointer;
  border: none;
}

h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-first {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/Office.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-first .text {
  max-width: 496px;
  color: var(--white, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.section-head {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin-bottom: 8px;
}

.second-list {
  display: flex;
  gap: 24px;
}

.second-list-item {
  width: calc((100% - 72px) / 4);
}

.list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.section-third {
  background: #f4f4fd;
  padding: 120px 0;
}

.section-third-head {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.section-third .section-head {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-list {
  margin-top: 72px;
  display: flex;
  gap: 24px;
}

.our-team-list-item {
  background: #fff;
  text-align: center;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-icon-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

.svg-list {
  width: 40px;
  height: 40px;
}

.svg-list-link:hover,
.svg-list-link:focus {
  background-color: #404bbf;
  outline: transparent;
}

.our-team-list-item .card-info {
  padding: 32px 0;
}

.section-fourth {
  margin: 0 auto;
}

.section-fourth-head {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-fourth .section-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-list .portfolio-list-item {
  cursor: pointer;
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: #4d5ae5;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item .card-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list-item .section-head {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.portfolio-list-item .description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Footer */

footer {
  background: #2e2f42;
  padding: 100px 0;
}

.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  width: 264px;
}

.paragraph-description {
  display: block;
  max-width: 264px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-logo-studio {
  color: #f4f4fd;
}

.footer-list-icons {
  display: flex;
  gap: 16px;
}
.svg-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-item {
  width: 40px;
  height: 40px;
}

.footer-svg {
  fill: #f4f4fd;
}

.footer-hover:hover,
.footer-hover:focus {
  background-color: #31d0aa;
}

.logo-box {
  margin-right: 120px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 10;
}

.callback-container {
  position: absolute;
  width: 480px;
  min-height: 584px;
  margin: 0 auto;
  background-color: #fcfcfc;
  background-repeat: 4px;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-window {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-window:hover,
.close-icon:hover,
.modal-close:focus,
.close-icon:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
